<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_BankBookService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_BankBookService1" />
                <binding name="BasicHttpBinding_BankStatementService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_BankStatementService1" />
                <binding name="BasicHttpBinding_CashBookService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_CashBookService1" />
                <binding name="DeclarationsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="DeclarationsSoap1" />
                <binding name="BasicHttpBinding_DocumentService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_DocumentService1" />
                <binding name="FinderSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FinderSoap1" />
                <binding name="HierarchiesSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="HierarchiesSoap1" />
                <binding name="MatchingSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="MatchingSoap1" />
                <binding name="PayAndCollectSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PayAndCollectSoap1" />
                <binding name="BasicHttpBinding_PeriodService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_PeriodService1" />
                <binding name="ProcessXmlSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProcessXmlSoap1" />
                <binding name="SessionSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionSoap1" />
                <binding name="VersionsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="VersionsSoap1" />
                <binding name="SessionSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionSoap3" />
                <binding name="SingleSignOnSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SingleSignOnSoap1" />
                <binding name="BasicHttpBinding_BudgetService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_BudgetService1" />
                <binding name="BasicHttpBinding_TransactionBlockedValueService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_TransactionBlockedValueService1" />
                <binding name="BasicHttpBinding_DeletedTransactionsService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_DeletedTransactionsService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://accounting.twinfield.com/webservices/BankBookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BankBookService"
                contract="TwinfieldBankBookService.BankBookService" name="BasicHttpBinding_BankBookService" />
            <endpoint address="https://accounting.twinfield.com/webservices/BankStatementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BankStatementService"
                contract="TwinfieldBankStatementService.BankStatementService"
                name="BasicHttpBinding_BankStatementService" />
            <endpoint address="https://accounting.twinfield.com/webservices/CashBookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CashBookService"
                contract="TwinfieldCashBookService.CashBookService" name="BasicHttpBinding_CashBookService" />
            <endpoint address="https://accounting.twinfield.com/webservices/declarations.asmx"
                binding="basicHttpBinding" bindingConfiguration="DeclarationsSoap"
                contract="TwinfieldDeclarationsService.DeclarationsSoap" name="DeclarationsSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/DocumentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentService"
                contract="TwinfieldDocumentService.DocumentService" name="BasicHttpBinding_DocumentService" />
            <endpoint address="https://accounting.twinfield.com/webservices/finder.asmx"
                binding="basicHttpBinding" bindingConfiguration="FinderSoap"
                contract="TwinfieldFinderService.FinderSoap" name="FinderSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/hierarchies.asmx"
                binding="basicHttpBinding" bindingConfiguration="HierarchiesSoap"
                contract="TwinfieldHierarchiesService.HierarchiesSoap" name="HierarchiesSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/matching.asmx"
                binding="basicHttpBinding" bindingConfiguration="MatchingSoap"
                contract="TwinfieldMatchingService.MatchingSoap" name="MatchingSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/payandcollect.asmx"
                binding="basicHttpBinding" bindingConfiguration="PayAndCollectSoap"
                contract="TwinfieldPayAndCollectService.PayAndCollectSoap"
                name="PayAndCollectSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/PeriodService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_PeriodService"
                contract="TwinfieldPeriodService.PeriodService" name="BasicHttpBinding_PeriodService" />
            <endpoint address="https://accounting.twinfield.com/webservices/processxml.asmx"
                binding="basicHttpBinding" bindingConfiguration="ProcessXmlSoap"
                contract="TwinfieldProcessXmlService.ProcessXmlSoap" name="ProcessXmlSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/session.asmx"
                binding="basicHttpBinding" bindingConfiguration="SessionSoap"
                contract="TwinfieldSessionService.SessionSoap" name="SessionSoap" />
            <endpoint address="https://accounting.twinfield.com/webservices/versions.asmx"
                binding="basicHttpBinding" bindingConfiguration="VersionsSoap"
                contract="TwinfieldVersionsService.VersionsSoap" name="VersionsSoap" />
            <endpoint address="https://login.twinfield.com/webservices/session.asmx"
                binding="basicHttpBinding" bindingConfiguration="SessionSoap2"
                contract="TwinfieldLoginSessionService.SessionSoap" name="SessionSoap1" />
            <endpoint address="https://login.twinfield.com/webservices/singlesignon.asmx"
                binding="basicHttpBinding" bindingConfiguration="SingleSignOnSoap"
                contract="TwinfieldSingleSignOnService.SingleSignOnSoap" name="SingleSignOnSoap" />
            <endpoint address="https://c3.twinfield.com/webservices/BudgetService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BudgetService"
                contract="TwinfieldBudgetService.BudgetService" name="BasicHttpBinding_BudgetService" />
            <endpoint address="https://c3.twinfield.com/webservices/TransactionBlockedValueService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TransactionBlockedValueService"
                contract="TwinfieldTransactionBlockedValueService.TransactionBlockedValueService"
                name="BasicHttpBinding_TransactionBlockedValueService" />
            <endpoint address="https://c3.twinfield.com/webservices/DeletedTransactionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DeletedTransactionsService"
                contract="TwinfieldDeletedTransactionService.DeletedTransactionsService"
                name="BasicHttpBinding_DeletedTransactionsService" />
        </client>
    </system.serviceModel>
</configuration>